html, body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #FDF4ED;
}

/*typography*/

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    color: #f8edeb;
    
    margin: 0;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 28px;
}

h3 {
    margin: 25px;
}

/* layout */
/***HEADER***/
header {
    background-color: #FFCCC2;
    border-bottom: 5px solid #FEC89A;
}

.header-inner {
    display: flex;
    align-items: center;

    width: 370px;
    
    padding: 10px 0 0 0;
    gap: 15px;
    margin: 0 auto;
}

.logo-img {
    width: 80px;
}

/***MAIN BODY***/
main {
    flex-direction: column;

    width: 300px;

    margin: 0px auto;
}

.controls-container {
    display: flex;
    flex-direction: column;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.upload-form label {
    color: #333;
    font-size: 16px;
}

.upload-form input {
    margin-bottom: 5%;
}

.upload-form input[type="text"] {
    background-color: #F8EDEB;
    color: #D56048;

    padding: 2.5% 5%;
    border: 2px solid #FCD5CE;
    border-radius: 5px;
}

/***RADIO BUTTON LIST*/
.emotion-radios {
    display: flex;
    flex-direction: column;
    
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.radio {
    background-color: #FBE8DA;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid #bcbcbc;
    padding: 4px 8px;
}

.radio:hover {
    background-color: #FDF4ED;
}

.radio:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.radio:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    font-size: 14px;

    width: 100%;

    padding: 3px;

    cursor: pointer;
}

/**ACTIVE RADIO**/
.highlight {
    background-color: #FCD5CE;
    color: #FF8870;

    font-weight: bold;
    accent-color: #FF8870;
}

input[type="radio"] {
    cursor: pointer;
}

/***CHECKBOXS***/
.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='checkbox'] {
    accent-color: #FF8870;
}

.checkbox:first-child {
    margin-top: 16px;
    margin-bottom: 8px;
}

.checkbox:last-child {
    margin-top: 8px;
    margin-bottom: 16px;
}

.checkbox-label {
    width: unset;

    margin-right: 5px;
}

.highlight-checkbox {
    color: #D56048;
    font-weight: bold;
}

/***BUTTONS**/
.btn {
    font-size: 24px;
    background-color: #FE9D48;
    color: #FDF4ED;
    
    padding: 15px 19px;
    border: none;
    border-radius: 5px;
    margin-bottom: 8px;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: #D56048       ;
    color: #FCD5CE;
    
    cursor: pointer;
}

/*DISABLED*/
.btn:disabled {
    background-color: #FEC89A;
}

.btn:disabled:hover,
.btn:disabled:active {
    background-color: #FEC89A;
    color: #FDF4ED;
    
    cursor: not-allowed;
}
/*ADD IMAGE BUTTON*/
.add-img-btn {
    width: 100%;

    margin-top: 5%;
}

/***MODAL***/
.image-modal,
.upload-modal {
    background-color: #fff0ee;

    display: none; /*flex when displayed*/
    position: fixed;
    flex-direction: column;

    width: 420px;
    min-height: 490px;

    top: 100px;
    left: 0;
    right: 0;
        
    border: 4px solid #FFB5A7;
    border-radius: 5px;
    margin: auto;
}

.image-modal-header,
.upload-modal-header {
    background-color: #FFB5A7;
}

.image-modal-header h3,
.upload-modal-header h3 {
    color: #D56048;
}

.image-modal-close-btn,
.upload-modal-close-btn {
    font-size: 14px;
    background-color: transparent;
    color: #D56048;

    position: absolute;

    top: 2%;
    right: 2%;

    padding: 2px 6px;
    border: 2px solid #D56048;
    border-radius: 50%;
}

.image-modal-back-btn,
.upload-modal-back-btn {
    display: none;

    font-size: 14px;
    background-color: transparent;
    color: #D56048;

    position: absolute;

    top: 2%;
    left: 2%;

    padding: 2px 6px;
    border: 2px solid #D56048;
    border-radius: 50%;
}

.image-modal-back-btn:hover,
.image-modal-close-btn:hover,
.upload-modal-back-btn:hover,
.upload-modal-close-btn:hover {
    color: white;
    background-color: #D56048;

    cursor: pointer;
}

.image-modal-inner,
.upload-modal-inner {
    margin: 5%;
}

.pet-img {
    max-width: 80%;

    border: 4px solid #FE9D48;
    border-radius: 5px;
    margin: 0% 9.1%;
}

.pet-img-caption {
    text-align: center;
    font-weight: bold;
    color: #D56048;
}

.images-gallary {
    display: flex;
    flex-wrap: wrap;

    overflow-y: auto;
    scrollbar-color: #FEC89A #F9DCC4;
}

.images-gallary .pet-img {
    width: 25%;

    margin: 5% 3.1%;
}

.images-gallary .pet-img:hover {
    cursor: pointer;
}

.images-gallary .full-img {
    width: 80%;

    margin: 5% 9%;
}

.images-gallary .full-img:hover {
    cursor: default;
}